<div class="panel panel-default">
	<%=render partial:"form",locals:{option:"Add URL"}  %>
</div>
<h3>Feeds </h4>
<div id="feed_list">
	<%=render 'list'%>
</div>
<%#=link_to "Times Of India","http://timesofindia.indiatimes.com/rss.cms"%>